<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TestBlazor8</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenuStock">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleNavMenuStock()" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubmenuStock()">
                <span class="oi oi-list" aria-hidden="true"></span> 在庫管理
            </NavLink>
        </li>
        @if (expandMenuStock)
        {
            <li class="nav-item px-4" @onclick="ToggleNavMenuStock">
                <NavLink class="nav-link " href="stocklist">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> 在庫一覧
                </NavLink>
            </li>
            <li class="nav-item px-4" @onclick="ToggleNavMenuStock">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 受払一覧
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>ToggleSubmenuMaster()">
                <span class="oi oi-monitor" aria-hidden="true"></span> マスタ管理
            </NavLink>
        </li>
        @if (expandMenuMaster)
        {
            <li class="nav-item px-4" @onclick="ToggleNavMenuMaster">
                <NavLink class="nav-link " href="usermaster">
                    <span class="oi oi-person" aria-hidden="true"></span> ユーザーマスタ
                </NavLink>
            </li>
            <li class="nav-item px-4" @onclick="ToggleNavMenuMaster">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-layers" aria-hidden="true"></span> 品名マスタ
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenuStock = true;
    private string NavMenuCssClass => collapseNavMenuStock ? "collapse" : null;
    private bool expandMenuStock;
    private void ToggleNavMenuStock()
    {
        collapseNavMenuStock = !collapseNavMenuStock;
        //expandMenu = false;
    }
    private void ToggleSubmenuStock()
    {
        expandMenuStock = !expandMenuStock;
    }

    private bool collapseNavMenuMaster = true;
    private bool expandMenuMaster;
    private void ToggleNavMenuMaster()
    {
        collapseNavMenuMaster = !collapseNavMenuMaster;
    }
    private void ToggleSubmenuMaster()
    {
        expandMenuMaster = !expandMenuMaster;
    }
}